@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
/* Font size: 18px (card titles e.g. Work, Play) */

:root {
  --blue: hsl(246, 80%, 60%);

  --light-red-work: hsl(15, 100%, 70%);
  --soft-blue-play: hsl(195, 74%, 62%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green-exercise: hsl(145, 58%, 55%);
  --violet-social: hsl(264, 64%, 52%);
  --soft-orange-self-care: hsl(43, 84%, 65%);

  --bg-body: hsl(226, 43%, 10%);
  --bg-card: hsl(235, 46%, 20%);
  --bg-report: hsl(235, 45%, 61%);
  --txt-main: hsl(236, 100%, 87%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-color: var(--bg-body);
  color: var(--txt-main);
}

.report {
  background-color: var(--bg-card);
}

.report__for {
  background-color: var(--bg-report);
  display: flex;
}

.report__img {
  width: 3rem;
  height: 3rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}