@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
/* Font size: 18px (card titles e.g. Work, Play) */

:root {
  --bg-report: hsl(246, 80%, 60%);

  --bg-work: hsl(15, 100%, 70%);
  --bg-play: hsl(195, 74%, 62%);
  --bg-study: hsl(348, 100%, 68%);
  --bg-exercise: hsl(145, 58%, 55%);
  --bg-social: hsl(264, 64%, 52%);
  --bg-care: hsl(43, 84%, 65%);

  --bg-body: hsl(226, 43%, 10%);
  --bg-card: hsl(235, 46%, 20%);
  --txt-report: hsl(235, 45%, 61%);
  --txt-main: hsl(236, 100%, 87%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-color: var(--bg-body);
  color: var(--txt-main);
}

.report,
div {
  border-radius: .8rem;
}

.report {
  background-color: var(--bg-card);
  margin: 5rem 1.5rem 1rem;
}

.report__for {
  background-color: var(--bg-report);
  display: flex;
  padding: 1.5rem;
  position: relative;
}

.report__img {
  width: 4rem;
  height: 4rem;
  border: .15rem solid white;
  border-radius: 50%;
}

.report__desc {
  position: absolute;
  top: 50%;
  left: 6.5rem;
  transform: translateY(-50%);
}

.report__desc>* {
  margin: 0;
}

.report__name {
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
}

.report__time {
  display: flex;
  justify-content: space-around;
}

.report__time>* {
  background-color: transparent;
  border: none;
  color: var(--txt-report);
  font-size: 1.25rem;
  padding: 1.5rem;
}

#showWeekly {
  color: var(--txt-main);
}

.report__data {
  margin: 1.5rem;
}

.report__data>*>* {
  /* background-color: blue; */
  /* width: fit-content; */
  /* margin-top: 1rem; */
  padding-top: 2rem;
  background-repeat: no-repeat;
  background-position: top -1rem right 1rem;
  background-size: 5rem;
  margin-bottom: 1.5rem;
}

.report__data>*>*>* {
  background-color: var(--bg-card);
  padding: 1.5rem;
}

.Work {
  background-image: url(images/icon-work.svg);
  background-color: var(--bg-work);
}

.Play {
  background-image: url(images/icon-play.svg);
  background-color: var(--bg-play);
}

.Study {
  background-image: url(images/icon-study.svg);
  background-color: var(--bg-study);
}

.Exercise {
  background-image: url(images/icon-exercise.svg);
  background-color: var(--bg-exercise);
}

.Social {
  background-image: url(images/icon-social.svg);
  background-color: var(--bg-social);
}

.Self.Care {
  background-image: url(images/icon-self-care.svg);
  background-color: var(--bg-care);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}